.banner_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    background-color: rgb(253, 253, 253);
    position: fixed;
    padding: 10px;
    float: left;
    margin: 3%;
    width: 14%;
    top: 20vh;
    height: 65vh;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(200, 225, 245, 1);
    overflow-y: auto;
}

.title_li {   
    z-index: 3;
    width: 100%;
    font-size: 16px;
    list-style-type: none;
    font-weight: 500;
    line-height: 30px;
    background-color: white;
    button{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
    }
    button:hover{
        background-color: rgb(247, 247, 247);
    }
}

.newTitle_wrap {
    width: 100%;
}

.newTitle {
    width: 70%;
    height: 25px;
    margin: 3%;
    box-sizing: border-box;
}

.newTitle_bt {
    background-color: rgb(100, 149, 237);
    color: white;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 25px;
    box-sizing: border-box;
}

.each_hour {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    padding: 15px 0;
    border-top: 1px solid black;
    .time_wrap {
        width: 20%;
        font-size: 13px;
        .start_hour {
            margin-bottom: 25px;
        }
    }
    .middle_wrap {
        display: flex;
        align-items: center;
        width: 70%;
        .cate_img {
            width: 15%;
            margin-right: 5%;
        }
        .loc_name {
            font-size: 15px;
            width: 80%;
        }
    }
    .delete_bt {
        width: 10%;
        border: none;
        background-color: transparent;
    }
}

.each_hour.selected {
    background-color: white;
}

.each_hour:last-child {
    border-bottom: 1px solid black;
}

.button_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
}

.new_plan {
    color: white;
    background-color: rgb(100, 149, 237);
    padding: 2% 3%;
    margin-right: 8%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(100, 149, 237);
}

.plan_delete {
    color: white;
    background-color: rgb(100, 149, 237);
    padding: 2% 3%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(100, 149, 237);
}