.detail_comp {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 100%;
    background-color: white;
    border-left: 3px solid whitesmoke;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
}

.detail_comp.visible {
    transform: translateX(0);
}