.map {
    right: 0;
    width: 100%;
    height: 100%;
}

.list_map_wrap .search_wrap {
    position: absolute;
    left: 35%;
    top: 3%;
    z-index: 3;
    width: 35%;
    height: 6%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    input {
        border: none;
        background-color: transparent;
        width: 92%;
        height: 100%;
        border-radius: 5px;
        text-indent: 15px;
        font-size: 17px;
    }
    button{
        width: 7%;
        height: 100%;
        border: none;
        background-color: transparent;
        img {
            width: 50%;
            height: 50%;
        }
    }
}

.list_map_wrap .search_results {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    margin: 1%;
    width: 23%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 0 0 8px rgb(200, 225, 245);
    overflow-y: auto;
    .search_title {
        height: 5%;
        text-align: center;
        font-weight: 550;
        font-size: 16px;
        margin-bottom: 3%;
    }
}

.search_results .search_result_item {
    border-top: 1px solid black;
    width: 100%;
    height: 20%;
    cursor: pointer;
}

.pagination_controls {
    text-align: center;

}

.pagination_bt {
    margin: 0 8px;
    padding: 5px 9px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination_bt.active {
    background-color: rgb(100, 149, 237);
    border-radius: 5px;
    color: white;
    cursor: default;
}

.main_map {
    width: 100%;
    height: 100%;
}

.map_wrap {
    width: 100%;
    height: 100vh;
    z-index: 3;
}