.map {
    right: 0;
    width: 100%;
    height: 100%;
}

.list_map_wrap .search_wrap {
    position: absolute;
    left: 35%;
    top: 3%;
    z-index: 3;
    width: 35%;
    height: 6%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    input {
        border: none;
        background-color: transparent;
        width: 84%;
        height: 100%;
        border-radius: 5px;
        text-indent: 15px;
        font-size: 17px;
        outline: none;
        transform: translateY(-2px);
    }
    button{
        width: 7.5%;
        height: 100%;
        border: none;
        background-color: transparent;
        img {
            width: 50%;
            height: 50%;
        }
        .delete_text {
            right: 10px;
        }
    }
}

.list_map_wrap .search_results {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    margin: 1%;
    width: 25%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 1% 0;
    box-shadow: 0 0 8px rgb(200, 225, 245);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .search_title {
        position: static;
        width: 100%;
        height: 5%;
        text-align: center;
        font-weight: 550;
        font-size: 16px;
        padding-bottom: 2%;
        margin-bottom: 2%;
        border-bottom: 3px solid rgb(200, 225, 245);
    }
}

.search_results .search_lists {
    overflow-y: auto;
    width: 100%;
    height: 85%;
    margin: 0 1% 0 3%;
}

.search_results .search_result_item {
    border-top: 1px solid black;
    width: 100%;
    height: 30%;
    cursor: pointer;
    position: relative;
}

.pagination_controls {
    text-align: center;
}

.pagination_bt {
    margin: 0 8px;
    padding: 5px 9px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination_bt.active {
    background-color: rgb(100, 149, 237);
    border-radius: 5px;
    color: white;
    cursor: default;
}

.main_map {
    width: 100%;
    height: 100%;
}

.map_wrap {
    width: 100%;
    height: 100vh;
    z-index: 3;
}

/*place.js*/
.close_place {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    color: white;
    left: 3%;
    top: 4%;
    cursor: pointer;
}

.place_wrap {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.place_wrap::-webkit-scrollbar {
    display: none;
}

.place_img {
    width: 100%;
    height: 40vh;
    display: flex;
}

.main_img {
    width: 60%;
    height: 100%;
}

.side_img_wrap {
    width: 40%;
    height: 50%;
    .side_img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.place_title {
    position: relative;
    display: flex;
    align-items: center;
    width: 94%;
    padding: 3%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    .place_name {
        margin-right: 2%;
    }
    .place_category {
        font-size: 14px;
        color: gray;
    }
    .add_place_wrap {
        position: absolute;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{ font-size: 10px;}
    }
    .add_place_myplan {
        border-radius: 50%;
        width: 20px;
        aspect-ratio: 1 / 1;
    }
}

.place_info {
    width: 94%;
    padding: 3%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    p {
        height: 28px;
        img { 
            width: 5%;
            aspect-ratio: 1 / 1;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

/*리뷰 컴포넌트*/
.place_review {
    width: 94%;
    height: 100%;
    padding: 3%;
}

.rating {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .review_count {
        margin-left: 8px;
        font-size: 13px;
        color: gray;
    }
}

.review_wrap {
    position: relative;
    width: 94%;
    padding: 3%;
}

.review {
    width: 100%;
    height: 100%;
    padding: 4% 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.review_top {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.review_profile_img {
    width: 10%;
    border-radius: 50%;
    margin-right: 3%;
    cursor: pointer;
}

.review_user_name {
    cursor: pointer;
}

.personal_rating {
    margin-left: 15px;
}

.review_body {
    position: relative;
    width: 100%;
    height: 100%;
}

.navigation {
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    button {
        width: 30px;
        font-size: 20px;
        opacity: 0.8;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    .scroll_bt {
        width: 30px;
        opacity: 0.7;
    }
}

.review_img_wrap {
    width: 100%;
    height: 30%;
    display: flex;
    overflow: hidden;
    margin-bottom: 3%;
}

.review_img {
    display: block;
    width: 40%;
    margin-right: 1%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.review_more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    padding: 2%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px rgba(100, 149, 237, 0.7);
    cursor: pointer;
    background-color: rgb(100, 149, 237);
    color: white;
}

/*리뷰 코멘트 제한*/
.review_commit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: unset;
    position: relative;
}

.commit_toggle {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 15px;
    background-color: white;
    padding: 0 10px 0 8px;
}

.review_commit.expanded {
    -webkit-line-clamp: unset;
}