.login_wrap {
    text-align: center;
    margin-left: 40%;
    margin-top: 10%;
    width: 20%;
}


.login_wrap {
    .login {
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 100%;
        height: 35px;
        text-indent: 10px;
    }

    .id {
        margin-top: 50px;
    }
}

.login_wrap .login_bt_wrap {
    .bt {
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
        background-color: rgb(88, 168, 253);
        border-radius: 5px;
        border: none;
        color: white;
        font-weight: 550;
    }
}

.login_wrap .find_my_account {
    display: flex;
    a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
    .separator {
        border-left: 1px solid black;
        margin: 0 5px;
    }
}