.mypage_wrap {
    position: absolute;
    margin: 5% 5% 0 25%;
    width: 70%;
    padding-bottom: 10%;
}

.info_wrap {
    width: 80%;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 80px;
}

.info_wrap .profile{
    display: flex;
    width: 100%;
    img{
        width: 150px;
        border-radius: 50%;
        margin-right: 100px;
    }
    .my_info {
        font-size: 20px;
    }
}

.my_info{
    .info_name {
        font-weight: 550;
        margin-bottom: 20px;
    }
    .info_category {
        margin: 10px 0;
        display: flex;
        p {
            padding: 2px 6px;
            font-size: 15px;
            margin-right: 10px;
            background-color: rgb(238, 238, 238);
            border-radius: 5px;
        }
    }
    .info_intro {
        font-size: 16px;
        float: left;
    }
    button {
        position: absolute;
        right: 10px;
    }
}

.my_post {
    width: 100%;
    height: 400px;
    display: flex;
    .up_title {
        font-size: 17px;
        font-weight: 550;
        margin-bottom: 10px;
    }
    .up_content {
        display: flex;
        div {
            margin-right: 20px;
        }
    }
}

.up_wrap {
    width: 24%;
    padding: 1%;
}

.up_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
    img {
        width: 50%;
        aspect-ratio: 1 / 1;
        display: block;
        box-sizing: border-box;
        border: 1px solid white;
    }
    margin-bottom: 10px;
}

.up_category_wrap {
    display: flex;
    .up_category {
    margin-right: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 2px 4px;
    }
}